<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/student.js"></script>
    <title>首页</title>
</head>
<body>
<h2>学生信息表</h2>
<table  class="table table-striped">
    <tr>
        <th>序号</th>
        <th>学号</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>性别</th>
        <th>班级</th>
        <th>操作</th>
    </tr>

</table>

<div class="ed-box">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">姓名</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="请输入姓名">
        </div>
    </div>
    <div class="form-group">
        <label for="female" class="col-sm-2 control-label">性别</label>
        <div class="col-sm-10">
            <input type="radio" name="sex" value="0" id="female">男
            <input type="radio" name="sex" value="1" id="female">女
        </div>
    </div>
    <div class="form-group">
        <label for="age" class="col-sm-2 control-label">年龄</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="age" name="age" placeholder="请输入年龄">
        </div>
    </div>
    <div class="form-group">
        <label for="idcard" class="col-sm-2 control-label">学号</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="idcard" name="idcard" placeholder="请输入学号">
        </div>
    </div>
    <div class="form-group">
        <label for="class" class="col-sm-2 control-label">班级</label>
        <div class="col-sm-10">
            <select name="class" id="class" class="form-control">
                <option value="UAIF1906">UAIF1906</option>
                <option value="UAIF1907">UAIF1907</option>
                <option value="UAIF1908">UAIF1908</option>
                <option value="UAIF1909">UAIF1909</option>
                <option value="UAIF1910">UAIF1910</option>
                <option value="UAIF1911">UAIF1911</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success" id="up">提交</button>
        </div>
    </div>
</div>
</body>
<style>
    a{
        text-decoration: none;
        color: white;
    }
    .ed-box{
        width: 500px;
        height: 400px;
        background-color: peachpuff;
        /*margin: 0 auto;*/
        /*padding: 10px 30px 10px 10px;*/
        /*box-sizing: border-box;*/
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        padding-top: 30px;
        border: 1px solid #333333;
        display: none;
    }
    .form-group{
        display: flex;
    }
</style>
<script>
    $(`{% for item in data %}
    <tr>
        <td class="id">${ item[0] }</td>
        <td class="num">${ item[1] }</td>
        <td class="name">${ item[2] }</td>
        <td class="age">${ item[3] }</td>
        <td class="sex" val="${ item[4] }">
            {% if item[4]  == 1 %}
            男
            {% else %}
            女
            {% endif %}
        </td>
        <td class="class">${ item[5] }</td>
        <td>
            <button type="button" class="btn btn-success edit">更改</button>
            <button type="button" class="btn btn-danger">删除</button>
        </td>
    </tr>
    {% endfor %}`).appendTo("table tbody");
    $.ajax({
        url:'/student',
        type:'post',
        data:{
            'id':$('#up').attr('sid'),
            'idcard':$("[name='idcard']").val(),
            'name':$("[name=name]").val(),
            'age':$("[name=age]").val(),
            'sex':$("[name=sex]").val(),
            'class':$("[name=class]").val(),
        },
        success:function (data) {
            console.log(data)
        },
        error:function (e) {
            console.log(e)
        }
    })
</script>
</html>